*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box; 
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

/* Inicio da configuração do menu */

header{
	background-color: white;
	padding: 20px 0;
	border-bottom: 2px solid #878787;
}

.center{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	display: flex;
}

.left{
	max-width: 1110px;
	margin: auto;
	padding: 0 2%;
	display: flex;
}

.login{
	width: 80%;
	text-align: right;
}

.center h2{
	color: #2b2b2b;
	font-size: 50px;
}
.center h3{
	font-family: 'Monoton', cursive;
	font-weight: normal;
	font-size: 80px;
}

.name{
	width: 120%;
	margin: 30px 0 0 0;
	text-align: right;
}

.menu{
	width: 100%;
	text-align: left;
}

#btnIcon{
	font-size: 20px;
	margin: 10 auto;
	padding: 4px;
	color: white;
}

.menu a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	background-color: #2b2b2b;
	padding: 12px;
	border-radius: 5px;
	margin-right: 10px;
}

.menu a:hover{
	color: #878787;
}

.btn-login{
	margin: 0 0 0 170px;
	max-width: 28%;
	background-color: #2b2b2b;
	color: white;
	display: flex-end;
	padding: 10px ;
	border-radius: 5px;
}

.btn-quit{
	text-align: left;
	background-color: #2b2b2b;
	color: white;
	display: flex-end;
	padding: 10px ;
	border-radius: 5px;
}

.login a:hover{
	color: #878787;

}

#search{
	width: 250px;
	margin: 0 0 0 400px;
	text-align: justify;
	color: white;
	padding: 5px;
	background-color: #2b2b2b;
	border: 5px solid #2b2b2b;
}

.menu-more{
	margin: -34px 0 0 230px;
	width: 40%;
	text-align: justify;
	list-style: none;
}

.login a{
	color: white;
	text-decoration: none;
}
.menu-more li{
	color: white;
	padding: 6px;
	display: block;
}

.menu-more > li{
	float: left;
}

.menu-more li ul{
	padding: 6px;
	background-color: #2b2b2b;
	display: none;
	position: absolute;
	min-width: 140px;
}


.menu-more li:hover> ul{
	display: block;
}

.menu-search, #menu-search{
	list-style: none;
	display: inline-block;
}

#btnSearch{	
	margin: -23px 0 0 0;
	color: white;
	position: absolute;
	background-color: #2b2b2b;
	border:6px solid #2b2b2b;
	border-left: 8px;
}

.acc-more{
	float: right;
	width: 40%;
	text-align: justify;
	list-style: none;
}

.acc-more li{
	color: white;
	text-decoration: none;
	padding: 6px;
	display: block;
}

.acc-more li ul{
	text-decoration: none;
	font-size: 15px;
	padding: 6px;
	background-color: #2b2b2b;
	list-style: none;
	display: none;
}

.acc-more li:hover> ul{
	display: block;
}

/* Fim da configuração do menu */





/* Inicio da configuração do main */


.main .left{
	max-width: 1100px;
	margin: 0 auto;
	padding: 100px 2%;
	display: flex;	
}

p{
	font-size: 20px;
	text-align: left;
}

.configcarousel{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	display: flex;
}

.carousel{
	max-width: 1100px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.cell-cards{
	width: 20% !important;
	height: 300px;
	margin-right: 10px;
	background: #2b2b2b;
	border-radius: 5px;
	text-align: center;
	color: #878787;
	font-weight: bolder;
}

.cell-cards:is selected{
	background: #22779c;
}	

.cell-cards:hover{
	cursor: pointer;
}

.carousel-header{
	width: 1100px;
	margin: 0 auto;
	display: block;
	text-align: left;
	line-height: 200px;
	padding: 20px;
}

#title{
	margin: 30px 0 0 100px;
	padding: 10px;
	text-align: center;
	border: 2px solid #878787;
	border-radius: 5px;
}

/* Fim da configuração do main */





/* Inicio da configuração do footer */

footer{
	margin: 150px 0 0 0;
	background-color: white;
	padding: 20px 0;
	border-top: 2px solid #878787;
}

#license{
	text-align: center;
	font-size: 12px;
}	

/* Fim da configuração do footer */