*{	
	margin: 0;
	padding: 0px;
	box-sizing: border-box; 
	font-family: 'Open Sans', sans-serif;
}

body{
	background: linear-gradient(45deg, #053742, #39A2DB, #92d3f7, #aec9cf);
	background-size: 300%, 300%;
	animation: colors 15s ease infinite;
	background-repeat: no-repeat;
}

@keyframes colors{
	0%{
		background-position: 0% 50%;
	}

	50%{
		background-position: 100% 50%;
	}

	100%{
		background-position: 0% 50%;
	}
}

header{
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
}

.logo{
	width: 850px;
	text-align: center;
	border: 4px ridge black;
	background: linear-gradient(45deg, rgb(175, 175, 175), rgb(238, 235, 235));
	box-shadow: -15px 12px 8px 5px rgb(59, 59, 59);
	margin: 25px 0 0 200px;
	padding: 15px;
}

.logo h3{
	margin: 0 auto;
	margin-left: 70px;
	color: #2b2b2b;
	font-family: 'Monoton', cursive;
	font-weight: normal;
	font-size: 80px;
}

.logo h1{
	margin: 0 auto;
	margin-left: 40px;
	color: #2b2b2b;
}

.logo-org{
	margin:0 0 0 -400px;
}

.signup{
	padding: 10px;
	width: 100%;
	margin: 0 auto;
}

ul, li{
	padding: 10px;
	list-style: none;
}

ul{
	text-align: center;
}

p{
	padding: 10px;
}

.signup .signup-org{
	padding: 70px;
}



#btn-01{
	margin-left: 50px;
	width: 80%;
	background: #2b2b2b;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	color: white;
}

.button, #btn-03,#btn-02 , #nick, #fName, #email, #pass, #repPass{
	margin: 0 auto;
	background: #2b2b2b;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	color: white;
}

#email{
	margin-left:5px;
}

#remember{
	margin-left: 50px;
}

#pass{
	margin-left: 5px;
}

#p{
	margin-left: -30px;
}

.social-icon{
	position: absolute;
	margin: 0 0 0 500px;
}

.fa {
	margin: -5px 0 0 -25px;
	padding: 5px;
	font-size: 25px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;  
  }

  .fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Configuração da classe opções do Sign In */


.signip .signip-org{
	padding: 70px;
}

#line{
	margin: -10px 0 0 500px;
	position: absolute;
	height: 350px;
	border-left: 2px solid #2b2b2b;
}

.options{
	margin: -100px 0 0 175px;
}