*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box; 
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

/* Inicio da configuração do menu */

header{
	background-color: white;
	padding: 20px 0;
	border-bottom: 2px solid #2b2b2b;
}

.center{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	display: flex;
}

.left{
	max-width: 1100px;
	margin: auto;
	padding: 0 2%;
	display: flex;
}

.center h2{
	color: #2b2b2b;
	font-size: 40px;
}
.center h3{
	font-family: 'Monoton', cursive;
	font-weight: normal;
	font-size: 70px;
}

.name{
	width: 70%;
	margin: 30px 0 0 30px;

}

.menu{
	width: 100%;
	text-align: left;
}

#btnIcon{
	font-size: 20px;
	margin: 10 auto;
	padding: 4px;
	color: white;
}

.menu a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	background-color: #2b2b2b;
	padding: 12px;
	border-radius: 5px;
	margin-right: 10px;
}

.menu a:hover{
	color: #878787;
}

#search{
	width: 250px;
	margin: 0 0 0 400px;
	text-align: justify;
	color: white;
	padding: 5px;
	background-color: #2b2b2b;
	border: 5px solid #2b2b2b;
}



.menu-more{
	margin: -34px 0 0 330px;
	width: 40%;
	text-align: justify;
	list-style: none;
}

.menu-more li{
	color: white;
	text-decoration: none;
	padding: 6px;
	display: block;
}

.menu-more > li{
	float: left;
}

.menu-more li ul{
	padding: 6px;
	background-color: #2b2b2b;
	display: none;
	position: absolute;
	min-width: 140px;
}


.menu-more li:hover> ul{
	display: block;
}

.menu-search, #menu-search{
	list-style: none;
	display: inline-block;
}

#btnSearch{	
	margin: -23px 0 0 0;
	color: white;
	position: absolute;
	background-color: #2b2b2b;
	border:6px solid #2b2b2b;
	border-left: 8px;
}

/* Fim da configuração do menu */





/* Inicio da configuração do main */


.profile{
	height: 1100px;
	width: 1000px;
	margin: 100px auto;
	border: 2px solid black;
	border-radius: 5px;
	padding: 30px;
	
}
#profile-icon-photo{
	max-width: 1100px;
	margin: auto;
	padding: 0 2%;
	display: flex;
}

#material-icons-profile{
	z-index: -1;
	position: absolute;
	margin: 200px 0 0 100px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 250px;
}

#add-pic{
	z-index: 2;
	position: absolute;
	margin: 250px 0 0 255px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 30px;
}

.org{
	width: 100px;
	height: 25px;
	margin: 165px 0 0 22px;
	position: absolute;
	background-color: #2b2b2b;
	border: 2px solid #2b2b2b;
	border-radius: 3px;
}

#input-deck-name{
	width: 75px;
	height: 1px;
	font-size: 14px;
	margin: -90px 0 0 10px;
	color: white;
	position: absolute;
	z-index: 1;
}
#par{
	width: 150px;
	height: 1px;
}

#edit-info{
	position: absolute;
	margin: 0px 0 0 270px;
	font-size: 30px;
}

.info{
	width: 100%;
	margin: 100px 0 0 180px;
	padding: 30px;
}

.input-form-info{
	position: absolute;
	margin: 350px 0 0 -500px;
	padding: 30px;
}


h1 {
	font-size: 40px;
	margin: 0 0 0 100px;
}

#deck-name{
	width: 25%;
}

.deck-info{
	width: 25%;
	z-index: 2;
}

.column-email{
	margin: 5px;
	text-align: justify;
	display: inline-block;
}

.column-password{
	margin: 5px;
	text-align: justify;
	display: inline-block;
}

#img-profile{
	z-index: 1;
	position: absolute;
	margin: 216px 0 0 117px;
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

.form-info, #li-info{
	margin: 0 0 0 150px;
	list-style: none;
}

#li-info{
	margin: 20px 0 0 50px;
}

.configcarousel{
	max-width: 1100px;
	margin: 150px 0 0 auto;
	padding: 0 2%;
	display: flex;
}

.carousel{
	max-width: 1100px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.cell-cards{
	width: 20% !important;
	height: 200px;
	margin-right: 30px;
	background: #2b2b2b;
	border-radius: 5px;
	text-align: center;
	color: deepskyblue;
	font-weight: bolder;
}

.cell-cards:is selected{
	background: #22779c;
}

.cell-cards:hover{
	cursor: pointer;
}

.carousel-header{
	width: 80%;
	margin: 0 auto;
	display: block;
	text-align: left;
	line-height: 200px;
	padding: 20px;
}

#title{
	margin: 30px 0 0 100px;
	padding: 10px;
	text-align: center;
	border: 2px solid #878787;
	border-radius: 5px;
}


/* Fim da configuração do main */





/* Inicio da configuração do footer */

footer{
	margin: 150px 0 0 0;
	background-color: white;
	padding: 20px 0;
	border-top: 2px solid #2b2b2b;
}

#license{
	text-align: center;
	font-size: 12px;
}	

/* Fim da configuração do footer */