*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box; 
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

/* Inicio da configuração do menu */

header{
	background-color: white;
	padding: 20px 0;
	border-bottom: 2px solid #2b2b2b;
}

.center{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	display: flex;
}

.left{
	max-width: 1100px;
	margin: auto;
	padding: 0 2%;
	display: flex;
}

.center h2{
	color: #2b2b2b;
	font-size: 40px;
}
.center h3{
	font-family: 'Monoton', cursive;
	font-weight: normal;
	font-size: 70px;
}

.name{
	width: 70%;
	margin: 30px 0 0 30px;

}

.menu{
	width: 100%;
	text-align: left;
}

#btnIcon{
	font-size: 20px;
	margin: 10 auto;
	padding: 4px;
	color: white;
}

.menu a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	background-color: #2b2b2b;
	padding: 12px;
	border-radius: 5px;
	margin-right: 10px;
}

.menu a:hover{
	color: #878787;
}

#search{
	width: 250px;
	margin: 0 0 0 400px;
	text-align: justify;
	color: white;
	padding: 5px;
	background-color: #2b2b2b;
	border: 5px solid #2b2b2b;
}

.menu-more{
	margin: -34px 0 0 330px;
	width: 40%;
	text-align: justify;
	list-style: none;
}

.menu-more li{
	color: white;
	text-decoration: none;
	padding: 6px;
	display: block;
}

.menu-more > li{
	float: left;
}

.menu-more li ul{
	padding: 6px;
	background-color: #2b2b2b;
	display: none;
	position: absolute;
	min-width: 140px;
}


.menu-more li:hover> ul{
	display: block;
}

.menu-search, #menu-search{
	list-style: none;
	display: inline-block;
}

#btnSearch{	
	margin: -23px 0 0 0;
	color: white;
	position: absolute;
	background-color: #2b2b2b;
	border:6px solid #2b2b2b;
	border-left: 8px;
}

/* Fim da configuração do menu */





/* Inicio da configuração do main */


.help{
	height: 830px;
	width: 1000px;
	margin: 100px auto;
	border: 0.5px solid black;
	border-radius: 5px;
	padding: 30px;
	
}

.help-option{
	width:920px;
	height: 70px;
	padding: 10px 10px;
	border: 1px solid black;
}

#btnOpMore{
	background: none;
	position: absolute;
	margin: -30px 0 0 850px;
	display: block;
}

#more{
    display: none;
}
#more2{
    display: none;
}
#more3{
    display: none;
}
#more4{
    display: none;
}


.icons span{
	font-size:30px;
	padding: 20px 20px;
}

.icons span:hover{
	color: #2b2b2b;
}

/* Fim da configuração do main */





/* Inicio da configuração do footer */

footer{
	margin: 150px 0 0 0;
	background-color: white;
	padding: 20px 0;
	border-top: 2px solid #2b2b2b;
}

#license{
	text-align: center;
	font-size: 12px;
}	

/* Fim da configuração do footer */